<div id="loader" *ngIf="loader">
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
  <div class="row">
    <div class="col-md-10">
       <div class="form-group">
        <label for="current">Current Password</label>
        <input type="password" (keyup) = "currentkeyup()" [(ngModel)]="current" class="form-control"  >
          <small class="text-danger">{{currentst}}</small>
        </div>
        </div>


      <div class="col-md-10">
        <div class="form-group">
         <label for="new">New Password</label>
         <input type="password" (keyup)="newkeyup()" [(ngModel)]="newpass" class="form-control"  >
           <small class="text-danger">{{newst}}</small>
          </div>
       </div>

       <div class="col-md-10">
        <div class="form-group">
         <label for="confirm">Confirm Password</label>
         <input type="password" (keyup)="confirmkeyup()" [(ngModel)]="confirm" class="form-control"  >
         <small class="text-danger">{{confirmst}}</small>
        </div>
       </div>


   </div>
   <button type="submit" [disabled] = "!confirm || !newpass || !current || confirmst || newst || currentst"   (click)="changpassword()" class="btn btn-custom">Change</button>
   <span class="text-danger">{{status}}</span>
