<div id="loader" *ngIf="loader">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-lg btn-dark mb-1" (click)="openmodal()">Add New</button>
  </div>
  <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of Teams | slice:(page-1)*pageSize:(page-1) *pageSize + pageSize">
      
        <td>
          {{ team.name }}
        </td>
        <td>
          <a (click)="edit(team)"  class="btn btn-warning text-light">Edit</a>
          <a (click)="delete(team)" class="btn btn-danger ml-1 text-light">Delete</a>
          <a (click)="loginwith(team)"  class="btn btn-dark ml-1 text-light">Login With</a>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="Teams.length" >
      </ngb-pagination>
    
      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option selected [ngValue]="20">20 items per page</option>
        <option [ngValue]="30">30 items per page</option>
        <option [ngValue]="40">40 items per page</option>
      </select>
    </div>